h3
{
    font-size: 25px !importanat;
}
.btn-succes:hover
{
    background-color:blue;
}
canvas{
    animation-name:example;
    animation-duration:4s;
    animation-iteration-count:infinte;
}

@keyframes example{
    from{box-shadow:1px 1ox 38px blueviolet;}
    to{box-shadow:1px 1px 38px rgb(233, 14, 167)}
}